<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - Crop Yield Prediction</title>
    <link rel="stylesheet" href="static/about.css" />
  </head>

  <body>
    <header>
      <div class="container">
        <h1>Crop Yield Prediction</h1>
        <nav>
          <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="{{ url_for('about') }}">About Us</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section class="about-us">
      <div class="container">
        <h2>About Us</h2>
        <p style="font-size: 25px;">
          Welcome to Crop Yield Prediction, where we revolutionize agriculture
          through cutting-edge technology and data-driven insights. Our mission
          is to empower farmers and agronomists with accurate crop yield
          predictions, soil health analysis, and precise weather forecasting
          tools to optimize agricultural productivity and sustainability.
        </p>
        <p style="font-size: 25px;">
          Our team of experts is dedicated to providing innovative solutions
          that help you make informed decisions about your farming strategies,
          ensuring better yields and sustainable farming practices.
        </p>
      </div>
    </section>
    <section>
      <h3>Under supervised By: Mr. Ashutosh Pandey</h3>
    </section>
    <section class="team-section">
      <div class="container">
        <h2>Meet Our Team</h2>
        <div class="team-member">
          <img src="../static/img/img1.jpg" alt="Team Member 1" />
          <h3>Saksham Srivastava</h3>
        </div>
        <div class="team-member">
          <img src="../static/img/img9.jpg" alt="Team Member 2" />
          <h3>Deepanshu Ydav</h3>
        </div>
        <div class="team-member">
          <img src="../static/img/img3.jpg" alt="Team Member 3" />
          <h3>Muhammad Taha</h3>
        </div>
        <div class="team-member">
          <img src="../static/img/img11.png" alt="Team Member 3" />
          <h3>Muhammad Gulam Gaush</h3>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; 2024 Crop Yield Prediction</p>
      </div>
    </footer>
  </body>
</html>
